.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      = current_user.name
      .side-bar__user-name__box__name
      .side-bar__user-name__box__contents
        = link_to "#" do
          = icon('far','edit' )
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas','cog' )
          %span<>
  .side-bar__group-list
    .side-bar__group-list__name
      techcamp
    .side-bar__group-list__message
      まだメッセージがありません
    .side-bar__group-list__name
      techcamp
    .side-bar__group-list__message
      まだメッセージがありません
    .side-bar__group-list__name
      techcamp
    .side-bar__group-list__message
      まだメッセージがありません