.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      = current_user.name
      .side-bar__user-name__box__name
      .side-bar__user-name__box__contents
        = link_to new_group_path do
          = icon('far','edit' )
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas','cog' )
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path(group) do
          .side-bar__group-list__group__name
            = group.name
          .side-bar__group-list__group__message
            = group.show_last_message